.Login {
  border: 1px solid #666;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  padding: .5rem 1rem;
}

.Register {
  border: 1px solid #666;
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  padding: .5rem 1rem;
}

.login-area {
  justify-content: center;
  display: flex;
}

.forgot-password {
  float: right;
}