.Sandbox {
  text-align: center;


}
.PiecePicker {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 800px;
  width: 500px;


}

.DragAndDrop {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 800px;
  width: 500px;

}

.TurtleWindow {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 500px;
  width: 550px;
}

.Playback {
  /*buttons on bottom */
}