.Sandbox {
  text-align: center;
}

.codingSpace {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  width: 400px;
  background-color: #bbffbb;

}

.PiecePicker {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  min-width: 400px;
  background-color: #99ffff;



}

.DragAndDrop {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 800px;
  width: 400px;

}

.TurtleWindow {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 500px;
  width: 400px;
}

.Playback {
  /*buttons on bottom */
}