.Sandbox {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1560px;
  height: 700px;

}
.PiecePicker {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  width: 500px;


}

.DragAndDrop {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  width: 500px;

}

.TurtleWindow {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 600px;
  width: 500px;
}