.StudentHomepage {
    text-align: center;
}

.avatar-container {
    border: 1px solid #333;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.customize-avatar {
    width: 100%;
    height: 100%;
}