.gradespace {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 300px;
    width: 400px;
    background-color: #ffcccc;


}

.gradeInput{
    width: 40px;
    height: 25px;
}

.text {
    text-align: center;
    font-size: 125%;


}