.avatar-level-badge,
.avatar-notif-badge {
    position: absolute;
    text-align: center;
    vertical-align: center;
    justify-content: center;
    text-overflow: clip;
}

.avatar-level-badge > .level {

}

.avatar-level-badge > i {
}

.avatar-level-badge > i > span {

}

.level-badge {
    position: absolute;
    top: 5px;
    right: 95px;
    background-color: #ffcccc;
    border: 1px solid #333;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: text-top;
    text-overflow: clip;
    padding: 0;
    border-radius: 50%;
}

.avatar-level-badge > i {
    color: #84b2fc;
    text-shadow: 1px 1px 3px #333;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.avatar-level-badge > i > span {
    font-size: 1rem;
    font-weight: bold;
    text-shadow: none;
    color: #333;
    position: absolute;
    transform: translateY(0.3rem);
}

.avatar-level-badge {
    display: flex;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    align-items: center;
    flex-direction: column;
}

.avatar-notif-badge {
    background-color: #ffafaf;
    color: #111;
    top: 0.5rem;
    right: 0.5rem;
    border: 1px solid #333;
    height: 30px;
    width: 30px;
    padding: 0.2rem;
    border-radius: 50%;
}

i {
    font-style: inherit;
}

.turtle-nav {
    background-color: #04a43c;
    color: #fff;
    border-bottom: .5rem solid #0a537a;
    margin-bottom: 1rem;
}

.turtle-navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-dropdown {
    background-color: #04a43c;
    align-self: stretch;
}

.nav-item {
}

.profile-image {
    max-width: 4rem;
    max-height: 3rem;
    height: 100%;
    width: 100%;

}

.nav-dropdown > div {
    color: #111;
    /*margin-top: 0.4rem;*/
}

.nav-dropdown > div > button > a {
    color: #111;
}

.nav-dropdown > div > button {
    padding-left: 1rem;
}


.nav-dropdown > button,
.nav-dropdown > a {
    background-color: #04a43c;
    /*transform: scaleY(1.5);*/
    border: none;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-dropdown > button > span,
.nav-dropdown > a > span {
    /*transform: scaleY(0.6666);*/
}

.nav-dropdown > button > div,
.nav-dropdown > a > div {
}


.navbar-avatar {
    display: inline-block;
    position: relative;
    align-self: center;
    margin-right: 0.5rem;
    border: 1px solid #333;
    border-radius: 3px;
}

.navbar-avatar > img {
    max-height: 4rem;
    max-width: 4rem;
    overflow: hidden;
    width: auto;
    height: auto;
}

.nav-icon {
    font-size: 1.5rem;
}

.nav-dropdown > button:hover,
.nav-dropdown > button:focus,
.nav-dropdown > a:hover,
.nav-dropdown > a:focus {
    background-color: #06d049;
}

.nav-dropdown > button:active,
.nav-dropdown > button:active:not(:disabled):not(.disabled),
.nav-dropdown > a:active,
.nav-dropdown > a:active:not(:disabled):not(.disabled) {
    background-color: #038832;
}

.turtle-navbar > div {
    align-items: stretch;
}

.turtle-navbar > div > ul > li {
    display: flex;
    align-items: center;
}

.turtle-navbar > div > ul > li > a,
.turtle-navbar > div > ul > li > div {
    display: flex;
}

.logo {
    margin-bottom: -1rem;
    max-width: 100%;
    max-height: 5rem;
    height: auto;
    width: auto;
}

.no-pad {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.turtle-nav > nav {
    justify-content: space-between;
}

.turtle-nav a {
    color: #fff;
}

/** TODO: Rename */

.turtle-secondary {
    background-color: #7ab648;
}