.turtle-nav {
    background-color: #04a43c;
    color: #fff;
    border-bottom: .5rem solid #0a537a;
    margin-bottom: 1rem;
}

.logo {
    max-height: 100%;
    max-width: 7rem;
}

.turtle-nav > nav {
    justify-content: space-between;
}

.turtle-nav a {
    color: #fff;
}

.turtle-nav > NavItem > :visited {

}

/** TODO: Rename */

.turtle-secondary {
    background-color: #7ab648;
}