.rank-font {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.listing {
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.hidden{
    display: none;
}

.center{
    margin-left: auto;
    margin-right: auto;

}

#leaderboard-toggle {
    background-color: #ffffff;
    height: 2rem;
    justify-content: center;
    padding: 0;
    border: 1px solid #eee;
    cursor: pointer;
}

#leaderboard-toggle > a {
    padding: 0;
    margin: 0;
}

a.fill-div {
    display: block;
    text-decoration: none;
    font-size: 125%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.leaderboard-container {
    margin: 1rem auto;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ccc;
}


