.assignments-course {
    background-color: #00ff00;
    padding: 1rem 0;
    border-top: 1px solid #00bb00;
}

.assignments-puzzle {
    background-color: #999;
    padding: 1rem 0;
    margin-left: 8%;
    border-top: 1px solid #bbb;
}

.category {
    background-color: #00ff00;
    padding: 1rem 0;
    border-top: 1px solid #00bb00;
    font-size: 150%;
    font-weight: bold;
}